.client-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    background-color:rgb(255, 249, 214);
    padding-left: 30px;
    padding-top: 15px;
}
.clientcard-design{
    padding: 10px;
    
    .card-style{
        width: 270px;
    }

    .btn-head-style{
        background-color:  #d1fdc3;
    }
}