/* 
    General Styles
*/
.trash-button{
    margin-left: 5px;
}

.next-button{
    margin-left: 110px;
}

.addClient-btn{
    font-size: 50px;
    color: #898887;
}

.funnel-flex{
    display: flex;
    width: 80%;
    min-height: 500px; 
    background-color: #F1F1F1;
    flex-wrap: nowrap;
    padding: 16px;
    overflow-x: scroll;
}

.funnel-flex-column{
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 300px;
    overflow-y: scroll;
    margin-right: 20px;
    background-color: #E3E3E3;
}

.funnel-header{
    margin-bottom: 15px;
}

.stitched {
    padding: 20px;
    margin: 10px;
    background: #6c757d;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #6c757d, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #898887;
    font-weight: normal;
    min-width: 300px;
    margin-right: 20px;
}

.form-style{
    padding: 10px;
}