.clientcard-design{
    padding: 10px;
    
    .logo-color-search{
        color: black;
    }

    .card-style{
        width: 18rem;
    }

    .btn-head-style{
        background-color:  #d1fdc3;
    }
}